version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    volumes:
      - backend_logs:/app

  frontend:
    image: nginx
    container_name: frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

volumes:
  backend_logs:

